<!--The content below is only a placeholder and can be replaced.-->
<app-menu></app-menu>

  <div class="container">
	<ul class="nav nav-pills">
    <li><a data-toggle="pill" href="#inicio">INÍCIO</a></li>
    <li><a data-toggle="pill" href="#listasProntas">LISTAS PRONTAS</a></li>
    <li><a data-toggle="pill" href="#criarListas">CRIAR LISTAS</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="inicio" class="tab-pane fade">
      <hr>
      <h3>INÍCIO</h3>
      <app-inicio></app-inicio>
    </div>
    <div id="listasProntas" class="tab-pane fade">
      <hr>
      <h3>LISTAS PRONTAS</h3>
      <app-listas-prontas></app-listas-prontas>
    </div>
    <div id="criarListas" class="tab-pane fade">
      <hr>
      <h3>CRIAR LISTAS</h3>
      <app-criar-listas></app-criar-listas>
    </div>
  </div>

</div>

<app-rodape></app-rodape>

