<!--The content below is only a placeholder and can be replaced.-->

<app-menu></app-menu>

<div class="container-fluid">

	<p>{{ mensagemInicial }}</p>

<div class="row">
	<div class="col-sm-4 align-self-center">
      <button type="button" class="btn">Listas Prontas</button>
    </div>

    <div class="col-sm-4 align-self-center" id="logo">
      <img src="./assets/logo.png" class="rounded" alt="Logo SLista">
    </div>

    <div class="col-sm-4 align-self-center">
      <button type="button" class="btn">Criar Lista</button>
    </div>
</div>
   
</div>

<app-rodape></app-rodape>

