<div class="container">

  <br><br><br>

  <div class="row">
    <div class="col-sm-4 align-self-center">  

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal1">Churrasco de Domingo</button>
      <div class="modal fade" id="modal1" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">          
              <h4 class="modal-title">Churrasco de Domingo</h4>
            </div>
            <div class="modal-body">
              Quer fazer um churrasco de arrasar? Segue essa lista aqui. Você vai amar!
              <br><br>
              <ul class="list-group">
                <li class="list-group-item">Alimento 1</li>
                <li class="list-group-item">Alimento 2</li>
                <li class="list-group-item">Alimento 3</li>
                <li class="list-group-item">Alimento 4</li>
                <li class="list-group-item">Alimento 5</li>
              </ul>
              <br>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn">Imprimir</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>            
        </div>
      </div>

    </div>

    <div class="col-sm-4 align-self-center">

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal2">Compra do Mês</button>
      <div class="modal fade" id="modal2" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">          
              <h4 class="modal-title">Compra do Mês</h4>
            </div>
            <div class="modal-body">
              Sabe aquela compra do mês que tem de tudo, mas é acessível? Então... É essa aqui!
              <br><br>
              <ul class="list-group">
                <li class="list-group-item">Alimento 1</li>
                <li class="list-group-item">Alimento 2</li>
                <li class="list-group-item">Alimento 3</li>
                <li class="list-group-item">Alimento 4</li>
                <li class="list-group-item">Alimento 5</li>
              </ul>
              <br>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn">Imprimir</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>            
        </div>
      </div>

    </div>

    <div class="col-sm-4 align-self-center">  

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal3">Dieta Vegetariana</button>
      <div class="modal fade" id="modal3" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">          
              <h4 class="modal-title">Dieta Vegetariana</h4>
            </div>
            <div class="modal-body">
              Está querendo virar vegetariano? Tenho uma lista que pode te ajudar muito nesse começo
              de transição da alimentação. Da uma olhadinha!
              <br><br>
              <ul class="list-group">
                <li class="list-group-item">Alimento 1</li>
                <li class="list-group-item">Alimento 2</li>
                <li class="list-group-item">Alimento 3</li>
                <li class="list-group-item">Alimento 4</li>
                <li class="list-group-item">Alimento 5</li>
              </ul>
              <br>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn">Imprimir</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>            
        </div>
      </div>
      
    </div>        
  </div> <!-- /row -->

  <br>
  <div class="row">
    <div class="col-sm-4 align-self-center">  

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal4">Aniversário da Minnie</button>
      <div class="modal fade" id="modal4" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">          
              <h4 class="modal-title">Aniversário da Minnie</h4>
            </div>
            <div class="modal-body">
              Sua filha quer um aniversário da Minnie e você não sabe o que fazer? A gente pode te ajudar. Olha essa lista que a Maria fez pro aniversário do mesmo tempo da filha dela. 
              <br><br>
              <ul class="list-group">
                <li class="list-group-item">Alimento 1</li>
                <li class="list-group-item">Alimento 2</li>
                <li class="list-group-item">Alimento 3</li>
                <li class="list-group-item">Alimento 4</li>
                <li class="list-group-item">Alimento 5</li>
              </ul>
              <br>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn">Imprimir</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>            
        </div>
      </div>

    </div>

    <div class="col-sm-4 align-self-center">

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal5">Festa de 90 anos da Vovó</button>
      <div class="modal fade" id="modal5" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">          
              <h4 class="modal-title">Festa de 90 anos da Vovó</h4>
            </div>
            <div class="modal-body">
              Quer coisa mais linda do que celebrar a vida? Ainda mais com tantos números na idade? É muito lindo ver a maturidade tomando conta da alma e é muito lindo celebrar isso tudo, né? Que tal ver essa lista que a dona Joaquina usou para celebrar o aniversário dela? As idades são parecidas, tenho certeza que vai dar certo! 
              <br><br>
              <ul class="list-group">
                <li class="list-group-item">Alimento 1</li>
                <li class="list-group-item">Alimento 2</li>
                <li class="list-group-item">Alimento 3</li>
                <li class="list-group-item">Alimento 4</li>
                <li class="list-group-item">Alimento 5</li>
              </ul>
              <br>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn">Imprimir</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>            
        </div>
      </div>

    </div>

    <div class="col-sm-4 align-self-center">  

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal6">Baby Shower</button>
      <div class="modal fade" id="modal6" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">          
              <h4 class="modal-title">Baby Shower</h4>
            </div>
            <div class="modal-body">
             Eba, alguém vai ter nenêm. Parabéns, criança é uma benção! Olha essa lista de Baby Shower que preparamos especialmente para você!
             <br><br>
             <ul class="list-group">
              <li class="list-group-item">Alimento 1</li>
              <li class="list-group-item">Alimento 2</li>
              <li class="list-group-item">Alimento 3</li>
              <li class="list-group-item">Alimento 4</li>
              <li class="list-group-item">Alimento 5</li>
            </ul>
            <br>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn">Imprimir</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>            
      </div>
    </div>

  </div>        
</div> <!-- /row -->

<br>
<div class="row">
  <div class="col-sm-4 align-self-center">  

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal7">Lanche Vegetariano</button>
    <div class="modal fade" id="modal7" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">          
            <h4 class="modal-title">Lanche Vegetariano</h4>
          </div>
          <div class="modal-body">
            Não é porque você parou de comer carne que não pode comer um lanche delicioso com ingredientes que não maltratam os animais, né? Olha essa lista para um lanche vegetariano maravilhoso!
            <br><br>
            <ul class="list-group">
              <li class="list-group-item">Alimento 1</li>
              <li class="list-group-item">Alimento 2</li>
              <li class="list-group-item">Alimento 3</li>
              <li class="list-group-item">Alimento 4</li>
              <li class="list-group-item">Alimento 5</li>
            </ul>
            <br>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn">Imprimir</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>            
      </div>
    </div>

  </div>

  <div class="col-sm-4 align-self-center">

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal8">Festa de Formatura</button>
    <div class="modal fade" id="modal8" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">          
            <h4 class="modal-title">Festa de Formatura</h4>
          </div>
          <div class="modal-body">
            Hmmmm, se formar é uma sensação muito gostosa. Melhor ainda é celebrar essa conquista, né? Tenho uma lista aqui perfeita para essa situação, da uma olhada.
            <br><br>
            <ul class="list-group">
              <li class="list-group-item">Alimento 1</li>
              <li class="list-group-item">Alimento 2</li>
              <li class="list-group-item">Alimento 3</li>
              <li class="list-group-item">Alimento 4</li>
              <li class="list-group-item">Alimento 5</li>
            </ul>
            <br>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn">Imprimir</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>            
      </div>
    </div>

  </div>

  <div class="col-sm-4 align-self-center">  

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal9">Camarão na Moranga</button>
    <div class="modal fade" id="modal9" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">          
            <h4 class="modal-title">Camarão na Moranga</h4>
          </div>
          <div class="modal-body">
            Essa lista é para você que ama camarão e tem vontade de fazer algo diferente para comer. Faz essa receitinha aqui, é fácil, rapido e você vai amar, eu prometo!
            <br><br>
            <ul class="list-group">
              <li class="list-group-item">Alimento 1</li>
              <li class="list-group-item">Alimento 2</li>
              <li class="list-group-item">Alimento 3</li>
              <li class="list-group-item">Alimento 4</li>
              <li class="list-group-item">Alimento 5</li>
            </ul>
            <br>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn">Imprimir</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>            
      </div>
    </div>

  </div>        
</div> <!-- /row -->

</div>
