<div class="container">

  <br>
    <input type="text" class="form-control" name="nome" placeholder="Digite o nome da sua lista aqui">
  <br>  

  <div class="row">
    <div class="col-sm-4 align-self-center">  

      <button type="button" class="btn btn-info btn-lg" >
        <img src="./assets/tomate.png"> Tomate <input type="checkbox" name="opcoes" value="tomate"/></button>
      </div>          



    <div class="col-sm-4 align-self-center">

      <button type="button" class="btn btn-info btn-lg" >
        <img src="./assets/cebola.png"> Cebola <input type="checkbox" name="opcoes" value="cebola"/></button>
        
    </div>

    <div class="col-sm-4 align-self-center">  

    <button type="button" class="btn btn-info btn-lg" >
        <img src="./assets/milho.png"> Milho <input type="checkbox" name="opcoes" value="milho"/></button>
      
    </div>        
    </div> <!-- /row -->

    <br>
    <div class="row">
    <div class="col-sm-4 align-self-center">  

      <button type="button" class="btn btn-info btn-lg" >
        <img src="./assets/pimenta.png"> Pimenta <input type="checkbox" name="opcoes" value="pimenta"/></button>
      </div>          

    <div class="col-sm-4 align-self-center">

      <button type="button" class="btn btn-info btn-lg">
        <img src="./assets/cenoura.png"> Cenoura <input type="checkbox" name="opcoes" value="cenoura"/></button>
        
    </div>

    <div class="col-sm-4 align-self-center">  

    <button type="button" class="btn btn-info btn-lg" >
        <img src="./assets/batata.png"> Batata <input type="checkbox" name="opcoes" value="batata"/></button>
      
    </div>        
    </div> <!-- /row -->

    <br>
    <div class="row">
    <div class="col-sm-4 align-self-center">  

      <button type="button" class="btn btn-info btn-lg">
        <img src="./assets/alho.png"> Alho <input type="checkbox" name="opcoes" value="alho"/></button>
      </div>          

    <div class="col-sm-4 align-self-center">

      <button type="button" class="btn btn-info btn-lg">
        <img src="./assets/beringela.png"> Beringela <input type="checkbox" name="opcoes" value="beringela"/></button>
        
    </div>

    <div class="col-sm-4 align-self-center">  

    <button type="button" class="btn btn-info btn-lg">
        <img src="./assets/pimentao.png"> Pimentão <input type="checkbox" name="opcoes" value="pimentao"/></button>
      
    </div>        
    </div> <!-- /row -->

    <br>
    <div class="row">
    <div class="col-sm-4 align-self-center">  

    </div>

    <div class="col-sm-4 align-self-center">      
        
    </div>

    <div class="col-sm-4 align-self-center">  

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalLista"><img src="./assets/verlista.png"> Ver Lista</button>
      <div class="modal fade" id="modalLista" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">          
                <h4 class="modal-title">Minha Lista</h4>
              </div>
              <div class="modal-body">
                Esses são todos os alimentos que você selecionou anteriormente. Agora só imprimir e levar no supermercado de sua preferência!
                <br><br>
                <ul class="list-group">
                  <li class="list-group-item">Alimento 1</li>
                  <li class="list-group-item">Alimento 2</li>
                  <li class="list-group-item">Alimento 3</li>
                  <li class="list-group-item">Alimento 4</li>
                  <li class="list-group-item">Alimento 5</li>
                </ul>
                <br>
                 <button type="button" class="btn">Imprimir</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>            
          </div>
        </div>
    
    </div> <!-- /row -->
    
   

  </div>
