<!--<p>
  grafico works!
</p>-->

<!DOCTYPE html>
<html>
<head>
	<title></title>	
	
</head>
<body>

<div class="container">


	<div class="row">
		<div class="col-sm-3">
        <ul class="nav nav-pills flex-column">
	    <li><a data-toggle="pill" href="#grafico1" class="btn">Grafico 1</a></li>
	    <li><a data-toggle="pill" href="#grafico2" class="btn">Grafico 2</a></li>
	    <li><a data-toggle="pill" href="#grafico3" class="btn">Grafico 3</a></li>
	    <li><a data-toggle="pill" href="#grafico4" class="btn">Grafico 4</a></li>
  </ul>
        </div>
        
        <div class="col-sm-9">
        <div class="tab-content">
    <div id="grafico1" class="tab-pane fade">
      
      <table>
		<tr>
			<td style="width: 700px;height: 50%;text-align: center;">
				<canvas id="lineChart"></canvas>
			</td>
			
		</tr>
	</table>
      
    </div>
    <div id="grafico2" class="tab-pane fade">
      
      <table>
		<tr>
			<td style="width: 700px;height: 50%;text-align: center;">
				<canvas id="bar"></canvas>
			</td>
			
		</tr>
	</table>
      
    </div>
    <div id="grafico3" class="tab-pane fade">
      
      <table>
		<tr>
			<td style="width: 700px;height: 50%;text-align: center;">
				<canvas id="doughnut"></canvas>
			</td>
			
		</tr>
	</table>
	
    </div>
    <div id="grafico4" class="tab-pane fade">
      <h3>grafico4</h3>
    </div>    
  </div>
        </div>
 </div>



	<!--<div class="row">
    <div class="col-sm-4 align-self-center">       
      	
		<canvas id="lineChart"></canvas>
			
        
      </div>

      <div class="col-sm-4 align-self-center">
       	<canvas id="bar"></canvas>

      </div>

      <div class="col-sm-4 align-self-center">  
      	<canvas id="doughnut"></canvas>
        
      </div>
    </div>-->



	<!--<table>
		<tr>
			<td style="width: 700px;height: 50%">
				<canvas id="lineChart"></canvas>
			</td>
			<td style="width: 700px;height: 50%"></td>
		</tr>
	</table>-->
</div>

	

	
	
</body>
</html>
