<!--<p>
  grafico works!
</p>-->

<!DOCTYPE html>
<html>
<head>
	<title></title>	
	
</head>
<body>

<div class="container">

	<div class="row">
    <div class="col-sm-4 align-self-center">       
      	
		<canvas id="lineChart"></canvas>
			
        
      </div>

      <div class="col-sm-4 align-self-center">
       	<canvas id="bar"></canvas>

      </div>

      <div class="col-sm-4 align-self-center">  
        
      </div>
    </div>



	<!--<table>
		<tr>
			<td style="width: 700px;height: 50%">
				<canvas id="lineChart"></canvas>
			</td>
			<td style="width: 700px;height: 50%"></td>
		</tr>
	</table>-->
</div>

	

	
	
</body>
</html>
