<!DOCTYPE html>
<html>
<head>
	<title></title>	
	
</head>
<body>

	<div class="container">

		<div class="row">
			<div class="col-sm-3">
				<ul class="nav nav-pills flex-column">
					<li><a data-toggle="pill" href="#grafico1" class="btn">Alimentos/Mês</a></li><br>
					<li><a data-toggle="pill" href="#grafico2" class="btn">Lista de Compras/Mês</a></li><br>
					<li><a data-toggle="pill" href="#grafico3" class="btn">Idade /Usuários</a></li><br>
					<li><a data-toggle="pill" href="#grafico4" class="btn">Visitantes do Site/2019</a></li><br>
				</ul>
			</div>

			<div class="col-sm-9">
				<div class="tab-content">
					<div id="grafico1" class="tab-pane fade">

						<table>
							<tr>
								<td style="width: 700px;height: 50%;text-align: center;">
									<canvas id="lineChart"></canvas>
								</td>

							</tr>
						</table>

					</div>
					<div id="grafico2" class="tab-pane fade">

						<table>
							<tr>
								<td style="width: 700px;height: 50%;text-align: center;">
									<canvas id="bar"></canvas>
								</td>

							</tr>
						</table>

					</div>
					<div id="grafico3" class="tab-pane fade">

						<table>
							<tr>
								<td style="width: 700px;height: 50%;text-align: center;">
									<canvas id="doughnut"></canvas>
								</td>

							</tr>
						</table>

					</div>
					<div id="grafico4" class="tab-pane fade">
						<table>
							<tr>
								<td style="width: 700px;height: 50%;text-align: center;">
									<canvas id="pie"></canvas>
								</td>

							</tr>
						</table>
					</div>    
				</div>
			</div>
		</div>	
</div>
</body>
</html>
